.bq-form-wrapper, .bq-popout-listing .bq-listing .bq-listing-body, body, html {
	min-height:100%
}
@font-face {
	font-family:ARIALN;
	src:url(https://cds.bestquotes.com/fonts/ARIALN.TTF)
}
body, html {
	margin:0;
	padding:0;
	height:100%
}
.bq-form-wrapper {
	height:100%;
	padding:0!important
}
.bq-campaign, .bq-campaign b, .bq-campaign center, .bq-campaign div, .bq-campaign fieldset, .bq-campaign form, .bq-campaign h1, .bq-campaign h2, .bq-campaign h3, .bq-campaign h4, .bq-campaign h5, .bq-campaign h6, .bq-campaign img, .bq-campaign ins, .bq-campaign label, .bq-campaign legend, .bq-campaign li, .bq-campaign ol, .bq-campaign p, .bq-campaign span, .bq-campaign ul {
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	vertical-align:baseline
}
#tooltip, .bq-campaign caption, .bq-campaign h1, .bq-campaign h2, .bq-campaign h3, .bq-campaign h4, .bq-campaign h5, .bq-campaign h6, .bq-campaign td, .bq-campaign th {
	font-weight:400
}
.bq-campaign ol, .bq-campaign ul {
	list-style:none
}
.bq-campaign button {
	cursor:pointer
}
.bq-campaign.bq-step1 input {
	background:#fff
}
body {
	padding:0;
	margin:0;
	border:0;
	background:url(https://cds.bestquotes.com/images/a/bg-form.jpg)
}
b {
	font-weight:700!important
}
.swipe {
	overflow:hidden;
	visibility:hidden;
	position:relative;
	max-width:100%;
	margin:0 auto;
	min-width:1285px
}
.swipe-wrap {
	overflow:hidden;
	position:relative
}
.swipe-wrap>div {
	float:left;
	width:100%;
	position:relative
}
.bq-form-wrapper {
	font-family:arial
}
.bq-endpage-listing .bq-campaign .bq-fields-section .bq-controls {
	border-top:0;
	padding-top:0;
	padding-bottom:0
}
.bq-campaign .bq-layout {
	position:relative
}
.bq-campaign .bq-header, .bq-popout-listing .bq-listing-header {
	background-color:transparent;
	border-bottom:none;
	border-top:3px solid #03277f;
	height:82px
}
.bq-campaign .bq-header .bq-header-container, .bq-popout-listing .bq-listing-header .bq-listing-header-container {
	margin:18px auto 0;
	position:relative;
	width:960px;
	overflow:hidden
}
.bq-campaign .bq-header .bq-header-container .bq-header-logo, .bq-popout-listing .bq-listing-header .bq-listing-header-container .bq-listing-logo {
	width:186px;
	height:38px;
	background:url(https://cds.bestquotes.com/images/a/all2.png) 0 -113px no-repeat;
	float:left
}
.bq-campaign .bq-header .bq-header-container .bq-header-location, .bq-popout-listing .bq-listing-header .bq-listing-header-container .bq-header-location {
	float:left;
	margin-top:9px;
	margin-left:13px;
	color:#969696;
	font:18px Arial
}
.bq-campaign .bq-header .bq-header-container .bq-callSection, .bq-popout-listing .bq-listing-header .bq-listing-header-container .bq-callSection {
	float:right
}
.bq-campaign .bq-header .bq-header-container .bq-header-call, .bq-popout-listing .bq-listing-header .bq-listing-header-container .bq-header-call {
	display:block;
	color:#969696
}
.bq-campaign .bq-header .bq-header-container .bq-callSection .bq-handset, .bq-popout-listing .bq-listing-header .bq-listing-header-container .bq-callSection .bq-handset {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -482px -66px no-repeat;
	float:left;
	height:18px;
	margin:0;
	width:14px;
	position:relative;
	top:5px
}
.bq-campaign .bq-header .bq-header-container .bq-progress {
	height:22px;
	margin:44px auto 0;
	float:left;
	width:862px
}
.bq-campaign .bq-header-phone, .bq-listing .bq-header-phone {
	float:left;
	margin-left:6px;
	margin-top:2px
}
.bq-campaign .bq-header-phone a, .bq-listing .bq-header-phone a {
	color:#00afea;
	font-weight:700;
	text-decoration:none;
	font-size:18px
}
.bq-campaign .bq-main-section, .bq-popout-listing .bq-listing-body-wrapper {
	margin:83px auto 0;
	width:950px;
	border-radius:5px;
	box-shadow:0 0 7px 0 rgba(50, 50, 50, .25);
	position:relative;
	background:#FFF
}
.bq-popout-listing .bq-listing-body-wrapper {
	margin:13px auto 0
}
.bq-campaign .bq-main-section .bq-table-body {
	border-collapse:collapse;
	border-spacing:0;
	width:100%
}
.bq-campaign .bq-main-section .bq-table-body td {
	margin:0;
	padding:0;
	vertical-align:top
}
.bq-campaign .bq-main-section .bq-table-body .bq-col-1 {
	width:73%;
	height:450px
}
.bq-campaign .bq-main-section .bq-table-body .bq-col-2 {
	background-color:#dcf5ff;
	border-radius:0 5px 5px 0;
	display:none
}
.bq-campaign .bq-cloning {
	overflow:hidden;
	margin-bottom:10px
}
.bq-campaign .bq-state-cloned .bq-cloning-header, .bq-campaign .bq-state-saved .bq-cloning-header {
	margin-bottom:10px
}
.bq-campaign .bq-cloning .bq-cloning-label {
	background:#cffcb9;
	border-radius:5px;
	color:#2c5b63;
	font:700 20px Arial, Helvetica;
	padding:10px 16px;
	margin-right:47px
}
.bq-campaign .bq-cloning .bq-cloning-edit, .bq-campaign .bq-cloning .bq-cloning-remove, .bq-campaign .bq-cloning .bq-cloning-save {
	background:linear-gradient(#efefef, #fff) rgba(0, 0, 0, 0);
	background:-webkit-linear-gradient(#EFEFEF, #FFF);
	border:1px solid #a9a9a9;
	border-radius:4px;
	color:#000;
	cursor:pointer;
	display:inline-block;
	font-family:arial;
	height:30px;
	line-height:30px;
	margin:0 8px 0 0;
	padding:0 10px;
	font-size:13px
}
.bq-campaign .bq-cloning .bq-cloning-buttons {
	display:inline-block;
	float:right;
	margin-top:7px;
	width:auto;
	margin-right:47px
}
.bq-campaign .bq-cloning .bq-cloning-footer {
	border-top:2px solid #2c5b63
}
.bq-campaign .bq-cloning .bq-cloning-save {
	display:block;
	margin:0 auto 40px;
	width:85px;
	position:relative;
	top:20px
}
.bq-campaign .bq-cloning .bq-cancel-text {
	background-image:url(https://cds.bestquotes.com/images/a/all-life.png);
	background-position:-149px -905px;
	background-repeat:no-repeat;
	display:inline-block;
	font:17px/17px arial;
	padding-left:16px;
	width:0;
	color:#2c5b63;
	cursor:pointer
}
.bq-campaign .bq-cloning .bq-cloning-cancel {
	margin-right:100px;
	text-align:right
}
.bq-campaign .bq-cloning .bq-cloning-adds {
	display:none
}
.bq-campaign .bq-state-init .bq-cloning-adds, .bq-campaign .bq-state-init .bq-cloning-cancel {
	display:block
}
.bq-campaign .bq-main-section .bq-caption-container .bq-caption-banner {
	position:absolute;
	background:url(https://cds.bestquotes.com/images/a/all2.png) no-repeat;
	height:57px;
	width:104px;
	margin-top:18px;
	padding-top:8px;
	text-align:center;
	color:#fff;
	font:13px arial;
	left:-42px;
	top:0;
	display:none
}
.bq-campaign .bq-main-section .bq-caption-container .bq-caption-banner .bq-banner-inner {
	font-size:14px;
	left:0;
	margin-left:-9px;
	margin-top:10px;
	position:absolute;
	top:0
}
.bq-campaign .bq-main-section .bq-caption-container .bq-caption-banner .bq-banner-inner .bq-banner-discount {
	font-size:18px;
	font-weight:700
}
.bq-campaign .bq-main-section .bq-caption-container .bq-caption-title {
	font:18px arial;
	position:absolute;
	top:-51px;
	width:100%;
	margin:0;
	text-align:center;
	font-weight:700
}
.bq-campaign .bq-fields-container .bq-name-composite-BirthDate .bq-type-select.bq-name-Month, .bq-campaign .bq-fields-container .bq-type-select .bq-sup {
	margin-left:5px
}
.bq-campaign .bq-main-section .bq-caption-container .bq-caption-title .bq-title-red {
	color:#c70000
}
.bq-campaign .bq-main-section .bq-caption-container .bq-caption-title .bq-caption-icon {
	display:none;
	width:26px;
	height:25px;
	position:relative;
	top:2px;
	margin-right:10px;
	background:url(https://cds.bestquotes.com/images/a/replace-sprite-life.png) -364px -95px no-repeat
}
.bq-campaign .bq-main-section .bq-caption-container .bq-caption-text {
	color:#02277f;
	font-size:23px
}
.bq-campaign .bq-main-section .bq-caption-container .bq-caption-subtitle {
	font:19px Arial;
	color:#3c3c3c;
	padding-top:38px;
	text-align:center;
	font-weight:700
}
.bq-campaign.bq-step-upsellPage .bq-main-section .bq-caption-container .bq-caption-subtitle {
	display:none
}
.bq-campaign .bq-fields-container .bq-cloning-adds, .bq-campaign .bq-fields-container .bq-field {
	position:relative
}
.bq-campaign .bq-fields-container .bq-cloning-adds {
	margin-bottom:10px
}
.bq-campaign .bq-fields-container .bq-name-ZipCode {
	float:none;
	margin-bottom:20px
}
.bq-campaign .bq-fields-container .bq-cloning-adds .bq-label, .bq-campaign .bq-fields-container .bq-name-Height .bq-title, .bq-campaign .bq-fields-container .bq-name-PhoneNumber .bq-label, .bq-campaign .bq-fields-container .bq-name-composite-BirthDate .bq-title, .bq-campaign .bq-fields-container .bq-type-address .bq-label, .bq-campaign .bq-fields-container .bq-type-email .bq-label, .bq-campaign .bq-fields-container .bq-type-name .bq-label, .bq-campaign .bq-fields-container .bq-type-radio .bq-title, .bq-campaign .bq-fields-container .bq-type-range .bq-label, .bq-campaign .bq-fields-container .bq-type-select .bq-label, .bq-campaign .bq-fields-container .bq-type-zipUS label .bq-label, .bq-campaign .bq-fields-container .bq-zipbox-layer .bq-label {
	font:19px Arial, Helvetica;
	font-weight:700;
	margin-bottom:20px;
	display:block
}
.bq-campaign .bq-fields-container .bq-type-email .bq-mark {
	display:block;
	height:20px;
	font:11px arial, helvetica;
	font-style:italic;
	margin-top:9px;
	margin-bottom:3px
}
.bq-campaign .bq-fields-container .bq-type-address .bq-mark {
	display:block;
	font-size:13px;
	text-align:right;
	margin-top:5px;
	padding-right:70px
}
.bq-campaign .bq-fields-container .bq-type-range, .bq-campaign .bq-fields-container .bq-type-select {
	position:relative;
	text-align:center
}
.bq-campaign .bq-fields-container .bq-type-select .hasCustomSelect {
	z-index:2;
	display:block;
	left:0
}
.bq-campaign .bq-fields-container .bq-type-select .bq-custom-select {
	width:196px;
	height:48px;
	font:13px arial;
	border:1px solid #a9a9a9;
	color:#222;
	background:#efefef;
	background:linear-gradient(#EFEFEF, #FFF);
	background:-webkit-linear-gradient(#EFEFEF, #FFF);
	padding:0 32px 0 11px;
	border-radius:5px;
	position:relative;
	line-height:38px;
	z-index:1;
	overflow:hidden
}
.bq-campaign .bq-fields-container .bq-name-composite-BirthDate .bq-custom-select.bq-custom-selectFocus, .bq-campaign .bq-fields-container .bq-type-select .bq-custom-selectFocus {
	border:1px solid #00b4e6
}
.bq-campaign .bq-fields-container .bq-type-select .bq-custom-select .bq-custom-selectInner {
	width:100%!important;
	height:100%!important;
	line-height:48px
}
.bq-campaign .bq-fields-container .bq-type-select .bq-custom-selectImg {
	width:20px;
	height:20px;
	display:inline-block;
	background:url(https://cds.bestquotes.com/images/a/standard-sprite.png) -22px 0 no-repeat;
	position:absolute;
	top:15px;
	right:10px
}
.bq-campaign .bq-fields-container .bq-name-composite-BirthDate .bq-type-select {
	float:left;
	width:78px
}
.bq-campaign .bq-fields-container .bq-name-composite-BirthDate .bq-custom-select {
	width:33px;
	height:48px;
	font:13px arial;
	border:1px solid #a9a9a9;
	color:#222;
	background:#efefef;
	background:linear-gradient(#EFEFEF, #FFF);
	background:-webkit-linear-gradient(#EFEFEF, #FFF);
	padding:0 32px 0 11px;
	border-radius:5px;
	position:relative;
	line-height:38px;
	z-index:1;
	font-size:12px
}
.bq-campaign .bq-fields-container .bq-name-composite-BirthDate .bq-name-Day {
	margin:0 3px 20px
}
.bq-campaign .bq-fields-container .bq-name-composite-BirthDate .bq-custom-selectImg {
	right:6px
}
.bq-campaign .bq-fields-container .bq-cloning-adds-buttons, .bq-campaign .bq-fields-container .bq-field-radio-items {
	overflow:hidden;
	clear:both;
	display:block;
	margin:0 auto
}
.bq-campaign .bq-fields-container .bq-cloning-adds .bq-add-clone, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-radio-item {
	background:#FFF;
	border:1px solid #a9a9a9;
	border-radius:5px;
	cursor:pointer;
	height:26px;
	position:relative;
	width:102px;
	display:block;
	float:left;
	margin-right:11px;
	padding:7px 0 0
}
.bq-campaign .bq-fields-container .bq-cloning-adds input, .bq-campaign .bq-fields-container .bq-field-radio-items input {
	height:1px;
	margin:0;
	opacity:0;
	position:absolute;
	width:1px;
	filter:alpha(opacity=0);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	cursor:pointer
}
.bq-campaign .bq-fields-container .bq-cloning-adds .bq-text, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-label {
	font-size:15px;
	display:inline-block;
	min-width:50px;
	width:auto;
	margin:5px auto 0;
	max-width:120px
}
.bq-campaign .bq-fields-container .bq-cloning-adds .bq-add-yes .bq-img, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-img-Yes {
	display:inline-block;
	background:url(https://cds.bestquotes.com/images/a/standard-sprite.png) 0 -23px no-repeat;
	width:20px;
	height:15px;
	position:absolute;
	right:10px
}
.bq-campaign .bq-fields-container .bq-cloning-adds .bq-add-no .bq-img, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-img-No, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-img-None {
	display:inline-block;
	background:url(https://cds.bestquotes.com/images/a/standard-sprite.png) -28px -23px no-repeat;
	width:15px;
	height:15px;
	position:absolute;
	right:10px
}
.bq-campaign .bq-fields-container .bq-field-radio-items .bq-img-Male {
	display:inline-block;
	background:url(https://cds.bestquotes.com/images/a/standard-sprite.png) -46px -24px no-repeat;
	width:20px;
	height:20px;
	position:absolute;
	right:10px;
	top:10px
}
.bq-campaign .bq-fields-container .bq-field-radio-items .bq-img-Female {
	display:inline-block;
	background:url(https://cds.bestquotes.com/images/a/standard-sprite.png) -70px -23px no-repeat;
	width:16px;
	height:22px;
	position:absolute;
	right:10px;
	top:9px
}
.bq-campaign .bq-fields-container .bq-type-address input, .bq-campaign .bq-fields-container .bq-type-email input, .bq-campaign .bq-fields-container .bq-type-name input, .bq-campaign .bq-fields-container .bq-type-phoneUS input, .bq-campaign .bq-fields-container input {
	width:227px;
	padding-left:11px;
	height:36px;
	line-height:36px;
	border:1px solid #a9a9a9;
	border-radius:5px;
	background:linear-gradient(#efefef, #fff);
	background:-webkit-linear-gradient(#EFEFEF, #FFF)
}
.bq-campaign .bq-fields-container .bq-type-name input {
	margin-left:1px
}
.bq-campaign .bq-fields-container .bq-field input:focus {
	border:1px solid #00b4e6
}
.lt-ie9 .bq-step1 .bq-fields-container .bq-zipbox-layer .bq-label {
	display:block;
	font-size:30px;
	text-align:center
}
.gt-ie8 .bq-campaign .bq-control, .lt-ie9 .bq-campaign .bq-control {
	background:#c80000
}
.gt-ie8 .bq-campaign .bq-control:hover, .lt-ie9 .bq-campaign .bq-control:hover {
	background:#329614
}
.lt-ie9 .bq-step1 .bq-zipBox .bq-control {
	float:none;
	margin-left:15px
}
.gt-ie8 .bq-step1 .bq-name-ZipCode input, .lt-ie9 .bq-step1 .bq-name-ZipCode input {
	background:#efefef;
	line-height:53px
}
.gt-ie8 .bq-campaign .bq-field-radio-items .bq-radio-item, .gt-ie8 .bq-campaign .bq-fields-container input, .gt-ie8 .bq-campaign .bq-type-select .bq-custom-select, .gt-ie8 .bq-campaign input, .lt-ie9 .bq-campaign .bq-cloning .bq-add-clone, .lt-ie9 .bq-campaign .bq-cloning .bq-cloning-edit, .lt-ie9 .bq-campaign .bq-cloning .bq-cloning-remove, .lt-ie9 .bq-campaign .bq-cloning .bq-cloning-save, .lt-ie9 .bq-campaign .bq-field-radio-items .bq-radio-item, .lt-ie9 .bq-campaign .bq-fields-container input, .lt-ie9 .bq-campaign .bq-type-select .bq-custom-select, .lt-ie9 .bq-campaign input {
	background:#efefef
}
.lt-ie9 .bq-campaign .bq-fields-container .bq-valid .bq-custom-select {
	border-bottom:#00b4e5 1px solid;
	border-left:#00b4e5 1px solid;
	border-right:#00b4e5 1px solid;
	border-top:#00b4e5 1px solid;
	color:#000
}
.gt-ie8 .bq-campaign .bq-fields-container .bq-valid .bq-custom-select, .gt-ie8 .bq-campaign .bq-fields-container .bq-valid input, .lt-ie9 .bq-campaign .bq-fields-container .bq-valid .bq-custom-select, .lt-ie9 .bq-campaign .bq-fields-container .bq-valid input {
	background:#9f9
}
.gt-ie8 .bq-campaign .bq-fields-container .bq-error .bq-custom-select, .gt-ie8 .bq-campaign .bq-fields-container .bq-error input, .lt-ie9 .bq-campaign .bq-fields-container .bq-error .bq-custom-select, .lt-ie9 .bq-campaign .bq-fields-container .bq-error input {
	background:#ffa9aa
}
.ie7 .bq-campaign .bq-main-section .bq-caption-container .bq-caption-banner .bq-banner-inner {
	margin-left:6px
}
.lt-ie9 .bq-step5 .bq-fields-section .bq-controls {
	padding-top:15px
}
.bq-campaign .bq-fields-container .bq-valid .bq-callToActionZip-body input, .bq-campaign .bq-fields-container .bq-valid .bq-custom-select, .bq-campaign .bq-fields-container .bq-valid .bq-zipBox-2 .bq-ZipCode input, .bq-campaign .bq-fields-container .bq-valid input {
	background:#9f9;
	color:#000;
	border:1px solid #00b4e5
}
.bq-campaign .bq-fields-container .bq-cloning-invalid .bq-add-clone, .bq-campaign .bq-fields-container .bq-error .bq-Own, .bq-campaign .bq-fields-container .bq-error .bq-Rent, .bq-campaign .bq-fields-container .bq-error .bq-callToActionZip-body input, .bq-campaign .bq-fields-container .bq-error .bq-custom-select, .bq-campaign .bq-fields-container .bq-error .bq-field-radio-items .bq-radio-item, .bq-campaign .bq-fields-container .bq-error .bq-zipBox-2 .bq-ZipCode input, .bq-campaign .bq-fields-container .bq-error input {
	background:#ffa9aa;
	color:#fff;
	border:1px solid red
}
.bq-campaign .bq-fields-container .bq-error .bq-custom-select .bq-custom-selectImg, .bq-campaign .bq-fields-container .bq-valid .bq-custom-select .bq-custom-selectImg {
	background:url(https://cds.bestquotes.com/images/a/standard-sprite.png) -44px 0 no-repeat
}
.bq-campaign .bq-cloning .bq-cloning-save:hover, .bq-campaign .bq-fields-container .bq-cloning .bq-cloning-edit:hover, .bq-campaign .bq-fields-container .bq-cloning .bq-cloning-remove:hover, .bq-campaign .bq-fields-container .bq-cloning-adds .bq-add-clone:hover, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-active, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-radio-item:hover {
	color:#00aeeb;
	background:linear-gradient(to bottom, #fff 0, #ededed 100%);
	border:5px solid #00aeeb
}
.bq-campaign.bq-step3 .bq-fields-container .bq-field-radio-items .bq-active, .bq-campaign.bq-step3 .bq-fields-container .bq-field-radio-items .bq-radio-item:hover {
	border:5px solid #00aeeb;
	width:133px;
	height:142px
}
.bq-campaign.bq-step4 .bq-fields-container .bq-field-radio-items .bq-active, .bq-campaign.bq-step4 .bq-fields-container .bq-field-radio-items .bq-radio-item:hover {
	border:5px solid #00aeeb;
	width:122px;
	height:112px
}
.bq-campaign .bq-fields-container .bq-cloning-adds .bq-add-yes:hover .bq-img, .bq-campaign .bq-fields-container .bq-cloning-invalid .bq-add-yes .bq-img, .bq-campaign .bq-fields-container .bq-error .bq-field-radio-items .bq-img-Yes, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-active .bq-img-Yes, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-radio-item:hover .bq-img-Yes {
	background:url(https://cds.bestquotes.com/images/a/standard-sprite.png) 0 -48px no-repeat
}
.bq-campaign .bq-fields-container .bq-error .bq-field-radio-items .bq-img-Male, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-Male:hover .bq-img-Male, .bq-campaign .bq-fields-container .bq-name-Gender .bq-active .bq-img-Male {
	background:url(https://cds.bestquotes.com/images/a/standard-sprite.png) -46px -46px no-repeat
}
.bq-campaign .bq-fields-container .bq-error .bq-field-radio-items .bq-img-Female, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-Female:hover .bq-img-Female, .bq-campaign .bq-fields-container .bq-name-Gender .bq-active .bq-img-Female {
	background:url(https://cds.bestquotes.com/images/a/standard-sprite.png) -70px -45px no-repeat
}
.bq-campaign .bq-fields-container .bq-cloning-adds .bq-add-no:hover .bq-img, .bq-campaign .bq-fields-container .bq-cloning-invalid .bq-add-no .bq-img, .bq-campaign .bq-fields-container .bq-error .bq-field-radio-items .bq-img-No, .bq-campaign .bq-fields-container .bq-error .bq-field-radio-items .bq-img-None, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-active .bq-img-No, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-active .bq-img-None, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-radio-item:hover .bq-img-No, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-radio-item:hover .bq-img-None, .bq-campaign .bq-fields-container .bq-state-saved .bq-add-no .bq-img {
	background:url(https://cds.bestquotes.com/images/a/standard-sprite.png) -28px -48px no-repeat
}
.bq-campaign .bq-control, .bq-campaign .bq-type-control .bq-control {
	background:linear-gradient(to bottom, #f50000 0, #960000 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f50000', endColorstr='#960000', GradientType=0);
	border:none!important;
	border-radius:5px;
	color:#fff;
	font:700 20px Arial, Helvetica;
	height:57px;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .8);
	width:240px;
	position:relative
}
.bq-campaign .bq-control:hover {
	background:linear-gradient(to bottom, #87c803 0, #390 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#87c803', endColorstr='#339900', GradientType=0)
}
.bq-campaign .bq-control:active {
	background:-webkit-linear-gradient(#329614, #329614);
	background:linear-gradient(#329614, #329614)
}
.bq-campaign .bq-fields-section .bq-controls {
	clear:both;
	width:100%
}
.bq-campaign .bq-fields-section .bq-type-control {
	margin-top:25px;
	margin-bottom:25px
}
.bq-campaign .bq-errors {
	margin:0 45px;
	position:relative;
	clear:both;
	height:auto;
	width:auto
}
.bq-campaign .bq-errors .bq-errors-container {
	display:block;
	padding:15px 20px;
	margin:20px 0;
	text-align:left;
	font:14px/1.4 Arial, Helvetica;
	border-radius:9px;
	background-color:red;
	color:#FFF
}
.bq-campaign .bq-cloning .bq-cancel-sign, .bq-campaign .bq-cloning-index-1 .bq-cloning-cancel, .bq-campaign .bq-disclaimer, .bq-campaign .bq-state-cloned .bq-cloning-adds, .bq-campaign .bq-state-cloned .bq-cloning-cancel, .bq-campaign .bq-state-cloned .bq-cloning-container, .bq-campaign .bq-state-cloned .bq-cloning-footer, .bq-campaign .bq-state-edit .bq-cloning-buttons, .bq-campaign .bq-state-init .bq-cloning-buttons, .bq-campaign .bq-state-init .bq-cloning-footer, .bq-campaign .bq-state-init .bq-cloning-label, .bq-campaign .bq-state-saved .bq-cloning-cancel, .bq-campaign .bq-state-saved .bq-cloning-footer, .bq-campaign .bq-state-saved .bq-cloning-wrapper, .bq-campaign .bq-tcpa, .bq-campaign .first-in-group .bq-cloning-remove, .bq-campaign .page-footer .bq-footer-left .bq-footer-cotyOFF, .bq-campaign .page-footer .bq-footer-right, .bq-campaign.bq-step1 .bq-caption, .bq-campaign.bq-step1 .bq-caption-banner, .bq-campaign.bq-step1 .bq-col-2, .bq-campaign.bq-step1 .bq-progress, .bq-campaign.bq-step2 .bq-callToActionZip-body .bq-control, .bq-campaign.bq-step2 .bq-callToActionZip-body .bq-mark-div, .bq-campaign.bq-step2 .bq-counter-section, .bq-campaign.bq-step2 .bq-label-head, .bq-campaign.bq-step2 .bq-label-head1, .bq-campaign.bq-step2 .bq-logos-section, .bq-campaign.bq-step2 .bq-logos-text, .bq-campaign.bq-step2 .bq-testimonials, .bq-campaign.bq-step2 .bq-threeBoxes, .bq-campaign.bq-step2 .bq-zipBox-2, .bq-campaign.bq-step5 .bq-callToActionZip-body .bq-control, .bq-campaign.bq-step5 .bq-callToActionZip-body .bq-mark-div, .bq-campaign.bq-step5 .bq-counter-section, .bq-campaign.bq-step5 .bq-label-head, .bq-campaign.bq-step5 .bq-label-head1, .bq-campaign.bq-step5 .bq-logos-section, .bq-campaign.bq-step5 .bq-logos-text, .bq-campaign.bq-step5 .bq-testimonials, .bq-campaign.bq-step5 .bq-threeBoxes, .bq-campaign.bq-step5 .bq-zipBox-2 {
	display:none
}
.bq-campaign .bq-errors .bq-errors-container li {
	list-style-type:circle;
	margin-left:2em
}
.bq-campaign .page-footer, .bq-popout-listing .page-footer {
	color:#969696;
	font:12px arial;
	padding:25px 0
}
.bq-campaign .bq-disclaimer, .bq-campaign .bq-footer {
	min-width:960px
}
.bq-campaign .bq-disclaimer .bq-disclaimer-container {
	width:700px;
	margin:auto
}
.bq-campaign .page-footer .bq-footer-left {
	text-align:center
}
.bq-campaign.bq-step-submit .page-footer {
	padding:20px 0 30px
}
.bq-campaign .bq-footer a, .bq-campaign .bq-footer a:visited, .bq-listing .bq-listing-footer a, .bq-listing .bq-listing-footer a:visited {
	color:#969696;
	font:12px arial;
	margin:0 24px
}
.bq-campaign.bq-step1 .bq-footer a, .bq-campaign.bq-step1 .bq-footer a:visited, .bq-listing .bq-listing-footer a, .bq-listing .bq-listing-footer a:visited {
	margin:0
}
.bq-campaign.bq-step1 .bq-main-section {
	width:auto;
	background:0 0;
	box-shadow:none;
	border-radius:0;
	margin:0
}
.bq-campaign .bq-disclaimer, .bq-campaign .bq-tcpa {
	font:10px/1.2 Arial, Helvetica;
	color:#666;
	text-align:justify
}
.bq-campaign .bq-tooltip {
	position:absolute;
	right:-25px;
	top:2px;
	background-image:url(https://cds.bestquotes.com/images/a/all2.png);
	background-position:-521px -87px;
	width:17px;
	height:13px;
	display:inline-block;
	vertical-align:middle!important;
	padding-bottom:3px;
	font-family:"Arial Rounded MT Bold", Arial;
	font-size:25px;
	margin-left:8px
}
.tip-text {
	border-bottom:1px dashed;
	cursor:help
}
#tooltip {
	text-align:left;
	color:#fff;
	background:#111;
	position:absolute;
	z-index:100;
	padding:15px;
	font-size:.8em;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	font-family:Arial
}
#tooltip:after {
	width:0;
	height:0;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid #111;
	content:"";
	position:absolute;
	left:50%;
	bottom:-10px;
	margin-left:-10px
}
#tooltip.left:after, #tooltip.right:after {
	margin:0;
	content:' '
}
#tooltip.top:after {
	border-top-color:transparent;
	border-bottom:10px solid #111;
	top:-20px;
	bottom:auto;
	content:' '
}
#tooltip.left:after {
	left:10px
}
#tooltip.right:after {
	right:10px;
	left:auto
}
.bq-campaign.bq-step12 .bq-caption-text, .bq-popout-listing .bq-listing .bq-header-title {
	color:#02277f;
	font:700 19px arial;
	text-align:center;
	padding-top:23px
}
.bq-popout-listing .bq-listing .bq-header-subtitle {
	color:#969696;
	font:15px arial;
	margin-top:10px;
	text-align:center
}
.bq-listing.bq-step9 .bq-listing-footer {
	display:none
}
.bq-campaign .bq-fields-container .bq-state-saved .bq-add-no {
	color:#fff;
	background:#00b4e5
}
.bq-campaign.bq-step1 .bq-header {
	background-color:#fff;
	border-bottom:1px solid #fff;
	border-top:3px solid #02277f;
	height:75px
}
.bq-campaign.bq-step1 .bq-zipBox {
	height:420px;
	background-position:0 bottom;
	background-color:#fff
}
.bq-campaign.bq-step1 .bq-zipBox .bq-zipBox-couple {
	height:100%;
	width:1050px;
	margin:0 auto;
	background-image:url(https://cds.bestquotes.com/images/a/bg-city-landscape.png);
	background-position:-92px -12px;
	background-repeat:no-repeat
}
.bq-campaign.bq-step1 .bq-name-ZipCode .bq-zipBox .bq-inner-style {
	background:0 0;
	border-top:1px solid transparent;
	height:100%
}
.bq-campaign.bq-step1 .bq-zipBox .bq-zipBox-couple .bq-inner-style {
	width:100%
}
.bq-campaign.bq-step1 .bq-zipBox .bq-label-head {
	color:#1E1E1E;
	display:block;
	font:400 27px arial;
	margin:63px 0 0;
	text-align:center;
	text-shadow:1px 1px 2px #fff
}
.bq-campaign.bq-step1 .bq-zipBox .bq-label-head1, .bq-campaign.bq-step1 .bq-zipBox .bq-label-head2 {
	color:#1E1E1E;
	font:400 28px Arial;
	margin:0 auto 13px;
	text-align:center;
	display:inline;
	text-shadow:none
}
.bq-campaign.bq-step1 .bq-zipBox .bq-label-head2 {
	color:#87C800
}
.bq-campaign.bq-step1 .bq-zipBox .bq-zip-toptext {
	width:835px;
	text-align:center;
	margin-top:-22px;
	margin-left:105px
}
.bq-campaign.bq-step1 .bq-zipBox .bq-zipbox-layer {
	box-shadow:0 0 5px #c6ced1;
	border-radius:5px;
	height:161px;
	margin:40px 0 0 225px;
	width:600px
}
.bq-campaign.bq-step1 .bq-zipBox .bq-callToActionZip {
	border-radius:5px 5px 0 0;
	display:block;
	height:60px;
	margin:0 auto;
	width:100%;
	background:#00b4e5
}
.bq-campaign.bq-step1 .bq-zipBox .bq-callToActionZip-body {
	position:relative;
	background-color:#fff;
	border-radius:0 0 5px 5px;
	text-align:center;
	height:101px
}
.bq-campaign.bq-step1 .bq-zipBox .bq-callToActionZip-body .bq-mark-div {
	position:absolute;
	bottom:-32px;
	left:0
}
.bq-campaign.bq-step1 .bq-name-ZipCode input {
	background:#efefef;
	background:linear-gradient(#efefef, #fff);
	background:-webkit-linear-gradient(#efefef, #fff);
	border:1px solid #3d3d3d;
	border-radius:5px 0 0 5px;
	display:block;
	float:left;
	font-size:25px;
	line-height:53px;
	font-family:Arial;
	height:53px!important;
	margin-left:25px;
	margin-top:22px;
	text-align:center;
	width:325px!important;
	padding-left:7px;
	border-right:none
}
.bq-campaign.bq-step1 .bq-zipBox .bq-control {
	border:none!important;
	border-radius:0 5px 5px 0;
	color:#fff;
	font-size:25px;
	font-weight:700;
	margin-top:22px;
	text-shadow:1px 1px 1px rgba(0, 0, 0, .3);
	width:220px;
	position:absolute;
	right:25px
}
.bq-campaign.bq-step1 .bq-zipBox .bq-logos-text {
	color:#aadcff;
	font:400 12px arial;
	margin:69px 0 0 415px;
	text-align:center;
	width:225px
}
.bq-campaign.bq-step1 .bq-zipBox .bq-small-bbb {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -401px -65px no-repeat;
	height:21px;
	width:56px;
	float:left;
	margin-right:5px
}
.bq-campaign.bq-step1 .bq-zipBox .bq-lock, .bq-campaign.bq-step1 .bq-zipBox .bq-mark-text {
	position:relative;
	top:4px
}
.bq-campaign.bq-step1 .bq-zipBox .bq-lock {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -463px -68px no-repeat;
	height:14px;
	width:11px;
	float:left;
	margin-right:5px
}
.bq-campaign.bq-step1 .bq-zipBox .bq-mark {
	color:#02277F;
	display:none;
	font:400 12px arial;
	float:left;
	margin-top:36px;
	margin-left:118px
}
.bq-campaign.bq-step1 .bq-zipBox .bq-logos {
	background:url(https://cds.bestquotes.com/images/a/all2.png) 0 -215px;
	height:36px;
	margin:5px 0 0 250px;
	width:541px;
	display:block
}
.bq-campaign.bq-step1 .bq-name-ZipCode .bq-zipBox-2 .bq-inner-style {
	height:440px
}
.bq-campaign.bq-step1 .bq-save-box-main {
	width:100%;
	background:#fff;
	height:377px;
	padding-bottom:45px
}
.bq-campaign.bq-step1 .bq-save-box {
	width:960px;
	margin:0 auto;
	border-top:2px solid #90D2F0
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-left {
	width:61%;
	float:left;
	margin-right:35px
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-leftT {
	font-size:16px;
	text-align:justify;
	color:#323232;
	padding-top:35px
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-leftT span {
	font-size:31px;
	color:#02277F;
	display:block;
	margin-bottom:10px
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-leftCompare, .bq-campaign.bq-step1 .bq-save-box .bq-save-box-leftReduce {
	border-bottom:2px solid #90D2F0;
	min-height:95px;
	position:relative;
	overflow:hidden
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-leftCompare .bq-span2, .bq-campaign.bq-step1 .bq-save-box .bq-save-box-leftReduce .bq-span2 {
	font-size:16px;
	text-align:justify;
	color:#323232;
	width:400px;
	display:block;
	margin-bottom:20px
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-leftCompare .bq-span1, .bq-campaign.bq-step1 .bq-save-box .bq-save-box-leftReduce .bq-span1 {
	font-size:24px;
	color:#3298C7;
	display:block;
	margin-bottom:5px;
	margin-top:20px
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-leftCompare div {
	width:122px;
	height:102px;
	position:absolute;
	right:15px;
	bottom:0;
	background:url(https://cds.bestquotes.com/images/a/all2.png) -694px 0 no-repeat
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-leftReduce div {
	width:107px;
	height:102px;
	position:absolute;
	right:35px;
	bottom:0;
	background:url(https://cds.bestquotes.com/images/a/all2.png) -830px 0 no-repeat
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-right {
	width:35%;
	float:left
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-right .bq-save-box-rightKnow {
	padding-top:35px
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-rightKnow .bq-span1 {
	font-size:31px;
	color:#1E1E1E;
	font-family:arial
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-rightKnow .bq-span2 {
	font-size:25px;
	color:#1E1E1E;
	font-family:ARIALN;
	text-align:justify;
	line-height:27px
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-right a {
	font-size:16px;
	color:#87C800;
	text-decoration:none;
	font-weight:700;
	display:block;
	margin-top:29px;
	margin-bottom:29px
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-right a:hover {
	color:#00AEEB
}
.bq-campaign.bq-step1 .bq-save-box .bq-counter {
	width:100%;
	height:115px;
	background:#def0fa;
	border:2px solid #91d2f0;
	border-radius:5px;
	margin-top:50px
}
.bq-campaign.bq-step1 .bq-save-box .bq-counter .bq-header {
	height:auto;
	border-top:none;
	background-color:transparent;
	text-align:center;
	border-bottom:none;
	color:#3298c9;
	font-size:16px;
	margin-top:12px;
	margin-bottom:5px
}
.bq-campaign.bq-step1 .bq-save-box .bq-counter .clock {
	margin:0 auto
}
.bq-campaign.bq-step1 .bq-logos-section {
	background-color:#fff;
	border-bottom:1px solid #f0f0f0
}
.bq-campaign.bq-step1 .bq-logos-section .bq-inner-style {
	height:155px;
	position:relative
}
.bq-campaign.bq-step1 .bq-logos-section .bq-text {
	color:#000;
	font:700 21px arial;
	padding-top:41px;
	text-align:left
}
.bq-campaign.bq-step1 .bq-logos-section .bq-logo {
	background:url(https://cds.bestquotes.com/images/a/all2.png) 0 -159px no-repeat;
	height:50px;
	margin:10px auto 0;
	width:950px
}
.bq-campaign.bq-step1 .bq-name-ZipCode .bq-inner-style {
	margin:0 auto;
	width:960px
}
.bq-campaign.bq-step1 .bq-control-container, .bq-campaign.bq-step1 .bq-disclaimer, .bq-campaign.bq-step1 .bq-tcpa {
	display:none
}
.bq-campaign.bq-step1 .bq-articles-inner .bq-article-50 {
	float:left;
	width:49.8%
}
.bq-campaign.bq-step1 .bq-articles-inner .bq-article {
	background-color:#fff;
	height:118px;
	margin-top:30px;
	padding:22px 30px 0;
	position:relative
}
.bq-campaign.bq-step1 .jane {
	margin-right:30px
}
.bq-campaign.bq-step1 .bq-brace {
	background:url(https://cds.bestquotes.com/images/a/all-life.png) -4px -583px no-repeat;
	height:12px;
	margin-left:-7px;
	margin-top:-4px;
	position:absolute;
	width:15px
}
.bq-campaign.bq-step1 .bq-footer {
	background-color:#000;
	color:#969696;
	height:110px;
	position:relative;
	overflow:hidden
}
.bq-campaign.bq-step1 .bq-footer .page-footer {
	margin:0 auto;
	position:relative;
	width:960px;
	padding:0;
	overflow:hidden
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-footer-left {
	float:left
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-footer-right {
	display:block;
	width:300px;
	float:right;
	text-align:right;
	padding-top:23px
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-logo-bbb {
	background:url(https://cds.bestquotes.com/images/a/all2.png) 0 -65px no-repeat;
	display:inline-block;
	height:31px;
	width:89px
}
.bq-campaign.bq-step12 .bq-footer .page-footer .bq-logo-bbb, .bq-campaign.bq-step16 .bq-footer .page-footer .bq-logo-bbb, .bq-campaign.bq-step9 .bq-footer .page-footer .bq-logo-bbb, .bq-campaignbq-step13 .bq-footer .page-footer .bq-logo-bbb {
	background:url(https://cds.bestquotes.com/images/a/all2.png) 0 -65px no-repeat;
	display:inline-block;
	height:31px;
	width:89px;
	margin:0 auto 10px;
	vertical-align:middle
}
.bq-campaign.bq-step12 .bq-footer .page-footer .bq-logo-equal-housing, .bq-campaign.bq-step16 .bq-footer .page-footer .bq-logo-equal-housing, .bq-campaignbq-step13 .bq-footer .page-footer .bq-logo-equal-housing {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -798px -778px no-repeat;
	display:none;
	height:65px;
	width:89px;
	margin:0 auto 10px;
	vertical-align:middle
}
.bq-campaign.bq-step-submit .page-footer .bq-footer-left {
	width:700px;
	margin:auto
}
.bq-campaign.bq-step-submit .page-footer .bq-footer-left .bq-tcpa {
	margin:0 auto 5px
}
.bq-campaign.bq-step-submit .page-footer .bq-footer-left .bq-logo-Godaddy2 {
	display:none
}
.bq-campaign.bq-step-submit .bq-disclaimer .bq-disclaimer-container {
	margin:15px auto
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-logo-truste {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -108px -65px no-repeat;
	display:inline-block;
	height:31px;
	width:116px;
	margin:0 5px
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-logo-Godaddy2 {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -244px -65px no-repeat;
	height:31px;
	width:132px;
	cursor:pointer;
	display:none
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-footer-left .page-pp-tc {
	margin-top:4px
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-footer-right .bq-footer-call {
	font-size:12px;
	font-weight:400
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-footer-right .bq-footer-call-main {
	font-size:20px;
	font-family:arial;
	color:#969696;
	display:block
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-footer-right .bq-footer-phone a {
	color:#969696;
	display:block;
	font:25px Arial;
	text-align:right;
	text-decoration:none
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-footer-left .bq-footer-copyright {
	text-decoration:none;
	font-weight:700;
	font-size:12px;
	color:#969696;
	margin-top:5px
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-footer-left .bq-footer-copyright a {
	text-decoration:none;
	font-weight:700!important
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-footer-right .bq-footer-copyright a {
	font-weight:700;
	text-decoration:none
}
.bq-campaign.bq-step1 .bq-footer .page-footer .bq-footer-right .bq-footer-handset {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -482px -87px no-repeat;
	height:17px;
	width:14px;
	display:inline-block;
	left:-3px;
	position:relative;
	top:1px
}
.bq-campaign.bq-step1 .bq-footer .bq-footer-right .bq-operator {
	width:78px;
	height:90px;
	background:url(https://cds.bestquotes.com/images/a/all2.png) -326px -669px no-repeat;
	float:right;
	margin-left:5px;
	margin-top:-5px
}
.bq-campaign.bq-step1 .page-footer .bq-footer-left .bq-footer-cotyOFF {
	display:inline
}
.bq-campaign .bq-header .bq-header-container .bq-callSection .bq-handset, .bq-campaign .bq-header .bq-header-container .bq-callSection .bq-header-phone, .bq-campaign .bq-header .bq-header-container .bq-progress, .bq-campaign.bq-step1 .bq-fields-section .bq-controls, .bq-popout-listing .bq-listing-header .bq-listing-header-container .bq-callSection .bq-handset, .bq-popout-listing .bq-listing-header .bq-listing-header-container .bq-callSection .bq-header-phone {
	display:none
}
.bq-campaign.bq-step1 .page-footer .bq-footer-left {
	margin-top:0;
	text-align:left;
	padding-top:23px
}
.bq-campaign.bq-step1 .bq-fields-container {
	padding:0
}
.bq-campaign .bq-header .bq-header-container .bq-header-call, .bq-popout-listing .bq-listing-header .bq-listing-header-container .bq-header-call {
	font-size:18px;
	margin-top:12px;
	font-style:italic
}
.bq-campaign.bq-step1 .bq-fields-container .bq-field {
	width:auto;
	float:none
}
.bq-campaign.bq-step1 .bq-control {
	margin-right:0;
	float:none;
	height:57px
}
.bq-campaign.bq-step3 .bq-sidebar .bq-sidebar-items.bq-sidebar-step1 .bq-logo {
	background:url(https://cds.bestquotes.com/images/a/all-life.png) -122px -966px no-repeat;
	height:25px;
	width:34px
}
.bq-campaign.bq-step3 .bq-sidebar .bq-thoughtfulguy {
	background-image:url(https://cds.bestquotes.com/images/a/all2.png);
	background-position:-128px -356px;
	background-repeat:no-repeat
}
.bq-campaign.bq-step3 .bq-header .bq-header-container .bq-progress {
	background:url(https://cds.bestquotes.com/images/a/bq-loader-2-mort.gif)
}
.bq-campaign.bq-step10 .bq-type-control .bq-control, .bq-campaign.bq-step11 .bq-type-control .bq-control, .bq-campaign.bq-step12 .bq-control, .bq-campaign.bq-step12 .bq-type-control, .bq-campaign.bq-step13 .bq-control, .bq-campaign.bq-step13 .bq-type-control, .bq-campaign.bq-step13 .bq-type-control .bq-control, .bq-campaign.bq-step14 .bq-control, .bq-campaign.bq-step14 .bq-type-control, .bq-campaign.bq-step15 .bq-control, .bq-campaign.bq-step15 .bq-type-control, .bq-campaign.bq-step16 .bq-type-control .bq-control, .bq-campaign.bq-step17 .bq-type-control, .bq-campaign.bq-step17 .bq-type-control .bq-control, .bq-campaign.bq-step18 .bq-control, .bq-campaign.bq-step18 .bq-type-control, .bq-campaign.bq-step19 .bq-control, .bq-campaign.bq-step19 .bq-type-control, .bq-campaign.bq-step2 .bq-control, .bq-campaign.bq-step2 .bq-type-control, .bq-campaign.bq-step20 .bq-control, .bq-campaign.bq-step20 .bq-type-control, .bq-campaign.bq-step3 .bq-control, .bq-campaign.bq-step3 .bq-type-control, .bq-campaign.bq-step4 .bq-control, .bq-campaign.bq-step4 .bq-type-control, .bq-campaign.bq-step5 .bq-control, .bq-campaign.bq-step5 .bq-type-control, .bq-campaign.bq-step6 .bq-type-control .bq-control, .bq-campaign.bq-step7 .bq-type-control .bq-control, .bq-campaign.bq-step8 .bq-control, .bq-campaign.bq-step8 .bq-type-control, .bq-campaign.bq-step9 .bq-control, .bq-campaign.bq-step9 .bq-type-control {
	width:200px;
	height:52px
}
.bq-campaign .bq-fields-container .bq-name-composite-BirthDate .bq-title, .bq-campaign .bq-fields-container .bq-type-address .bq-label, .bq-campaign .bq-fields-container .bq-type-name .bq-label, .bq-campaign .bq-fields-container .bq-type-radio .bq-title, .bq-campaign .bq-fields-container .bq-type-range .bq-label, .bq-campaign .bq-fields-container .bq-type-select .bq-label, .bq-campaign .bq-fields-container .bq-type-zipUS .bq-label, .bq-campaign .bq-fields-container .bq-zipbox-layer .bq-label {
	font-size:19px;
	color:#494949
}
.bq-campaign .bq-fields-container .bq-type-radio .bq-title span, .bq-campaign .bq-fields-container .bq-type-range .bq-label span, .bq-campaign .bq-fields-container .bq-type-select .bq-label span {
	display:block;
	font-weight:400;
	font-size:13px;
	margin-bottom:18px
}
.bq-campaign.bq-step12 .bq-main-section .bq-caption-container .bq-caption-title .bq-caption-icon, .bq-campaign.bq-step8 .bq-main-section .bq-caption-container .bq-caption-title .bq-caption-icon {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -152px -282px no-repeat
}
.bq-campaign.bq-step4 .bq-name-CreditRating .bq-label {
	min-width:105px
}
.bq-campaign .bq-name-CashOutAmount .bq-label span, .bq-campaign .bq-name-CreditRating .bq-title span, .bq-campaign .bq-name-PurchasePrice .bq-label span {
	line-height:15px
}
.bq-campaign .bq-fields-container .bq-markup-container .bq-name-EmailAddress .bq-label, .bq-campaign .bq-fields-container .bq-markup-container .bq-name-FirstName .bq-label, .bq-campaign .bq-fields-container .bq-markup-container .bq-name-LastName .bq-label, .bq-campaign .bq-fields-container .bq-markup-container .bq-name-PhoneNumber .bq-label {
	line-height:22px
}
.bq-campaign.bq-step4 .bq-sidebar .bq-sidebar-items.bq-sidebar-step3 .bq-logo {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -147px -314px no-repeat
}
.bq-campaign.bq-step1 .bq-name-ZipCode .bq-label {
	color:#fff!important;
	font:400 30px Arial, Helvetica;
	text-align:center;
	display:block;
	margin-bottom:11px;
	padding-top:12px;
	width:100%;
	text-shadow:none
}
.bq-campaign.bq-step4 .bq-header .bq-header-container .bq-progress {
	background:url(https://cds.bestquotes.com/images/a/bq-loader-3-mort.gif)
}
.bq-campaign.bq-step5 .bq-fields-container .bq-name-ZipCode {
	float:left
}
.bq-campaign.bq-step5 .bq-fields-container .bq-name-PhoneNumber .bq-label, .bq-campaign.bq-step5 .bq-fields-container .bq-type-email .bq-label {
	min-width:60px
}
.bq-campaign.bq-step5 .bq-name-ZipCode .bq-edit-button {
	background:0 0;
	border:none;
	color:#009795;
	text-decoration:underline;
	position:absolute;
	top:12px;
	font-weight:700;
	font-size:11px
}
.bq-campaign.bq-step5 .bq-callToActionZip-body {
	position:relative
}
.bq-campaign.bq-step2 .bq-main-section .bq-caption-container .bq-caption-title .bq-caption-icon {
	background:url(https://cds.bestquotes.com/images/a/all2.png) 0 -253px;
	display:none
}
.bq-campaignbq-step13 .bq-disclaimer, .bq-campaignbq-step13 .bq-tcpa {
	display:block
}
.bq-campaign .bq-main-section .bq-caption-container .bq-caption-banner .bq-banner-inner, .bq-endpage-listing .bq-fields-section .bq-controls, .bq-endpage-listing .bq-table-body .bq-col-2 {
	display:none
}
.bq-campaignbq-step13 .bq-disclaimer a, .bq-campaignbq-step13 .bq-tcpa a {
	color:#666
}
.bq-campaign.bq-step5 .bq-footer-left .page-pp-tc {
	padding-top:15px
}
.bq-campaign.bq-step12 .bq-main-section, .bq-popout-listing .bq-listing-body-wrapper {
	background:#fff
}
.bq-popout-listing .page-footer {
	text-align:center
}
.bq-campaign .bq-fields-container .bq-name-IsLivingHere .bq-title {
	min-width:129px
}
.bq-campaign.bq-step5 .bq-sidebar .bq-thoughtfulguy, .bq-campaignbq-step13 .bq-sidebar .bq-thoughtfulguy {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -355px -346px;
	width:142px;
	right:-46px;
	top:-35px;
	height:229px
}
.bq-campaign.bq-step12 .bq-wrapper, .bq-endpage-listing .bq-step9 .bq-listing-body-wrapper {
	margin-top:0
}
.bq-step9 .bq-listing .bq-listing-body {
	border:none
}
.bq-campaign.bq-step12 .bq-wrapper {
	border-radius:5px
}
.bq-campaign .bq-fields-container .bq-name-Height_FT {
	margin-right:11px
}
.bq-campaign .bq-fields-container .bq-name-Height_FT, .bq-campaign .bq-fields-container .bq-name-Height_Inch {
	float:left;
	width:120px;
	margin-bottom:0
}
.bq-campaign .bq-fields-container .bq-name-Height_FT .bq-custom-select, .bq-campaign .bq-fields-container .bq-name-Height_Inch .bq-custom-select {
	width:50px
}
.bq-campaign.bq-step1 .bq-fields-section {
	padding:0
}
.bq-campaign.bq-step1 .bq-fields-container .bq-name-ZipCode {
	margin-bottom:0
}
.bq-campaign.bq-step1 .bq-zipBox-2 .bq-text-section .bq-label {
	margin-top:46px
}
.bq-campaign.bq-step1 .bq-zipBox-2 .bq-text-section .bq-ZipCode .bq-label {
	margin-top:0
}
.bq-campaign.bq-step1 .bq-zipBox-2 .bq-blog-section {
	margin-top:47px
}
.bq-campaign .bq-sidebar .bq-sidebar-state {
	padding-left:0;
	width:100%
}
.bq-campaign .bq-sidebar .staticIMG {
	background:url(https://cds.bestquotes.com/images/a/carriers-mortgage.png) center 10px no-repeat
}
.bq-campaign .bq-fields-container .bq-name-AnyBankruptcy, .bq-campaign .bq-fields-container .bq-name-CreditRating, .bq-campaign .bq-fields-container .bq-name-MilitaryOrVeteran, .bq-campaign .bq-fields-container .bq-name-PropertyType {
	width:100%
}
.bq-campaign .bq-fields-container .bq-name-CreditRating .bq-radio-item .bq-img {
	background:url(https://cds.bestquotes.com/images/a/all-mortgage-questions.png) no-repeat
}
.bq-campaign .bq-fields-container .bq-name-CreditRating .bq-radio-item.bq-Excellent .bq-img {
	background-position:-325px -98px;
	width:102px;
	height:64px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-51px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-CreditRating .bq-radio-item.bq-Good .bq-img {
	background-position:-428px -98px;
	width:102px;
	height:64px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-51px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-CreditRating .bq-radio-item.bq-Some_Problems .bq-img {
	background-position:-535px -98px;
	width:102px;
	height:64px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-51px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-CreditRating .bq-radio-item.bq-Major_Problems .bq-img {
	background-position:-640px -98px;
	width:102px;
	height:64px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-51px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-field-radio-items .bq-item-0, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-item-1, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-item-2, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-item-3 {
	width:100px;
	height:85px;
	position:relative;
	margin-left:15px;
	margin-right:0
}
.bq-campaign .bq-fields-container .bq-field-radio-items .bq-Condo, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-Mobile_Home, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-Multi-Family_Home, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-Single_Family_Home, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-Townhouse {
	margin-left:10px;
	margin-right:0;
	width:141px;
	height:150px;
	position:relative
}
.bq-campaign.bq-step8 .bq-fields-container .bq-field-radio-items .bq-item-0, .bq-campaign.bq-step8 .bq-fields-container .bq-field-radio-items .bq-item-1 {
	margin-right:0;
	margin-left:112px
}
.bq-campaign .bq-fields-container .bq-field-radio-items .bq-active .bq-img {
	border:none
}
.bq-campaign .bq-fields-container .bq-name-PropertyType .bq-field-radio-items .bq-radio-item .bq-img {
	background:url(https://cds.bestquotes.com/images/a/all-refi-property.png) no-repeat
}
.bq-campaign .bq-fields-container .bq-name-PropertyType .bq-field-radio-items .bq-radio-item.bq-item-0 .bq-img {
	background-position:7px -38px;
	width:80px;
	height:59px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-40px;
	bottom:15px
}
.bq-campaign .bq-fields-container .bq-name-PropertyType .bq-field-radio-items .bq-radio-item.bq-item-1 .bq-img {
	background-position:-86px -18px;
	width:103px;
	height:80px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-51px;
	bottom:15px
}
.bq-campaign .bq-fields-container .bq-name-PropertyType .bq-field-radio-items .bq-radio-item.bq-item-2 .bq-img {
	background-position:-209px -9px;
	width:68px;
	height:89px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-33px;
	bottom:15px
}
.bq-campaign .bq-fields-container .bq-name-PropertyType .bq-field-radio-items .bq-radio-item.bq-item-3 .bq-img {
	background-position:-294px -1px;
	width:108px;
	height:89px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-54px;
	bottom:15px
}
.bq-campaign .bq-fields-container .bq-field-radio-items .bq-Excellent, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-Good, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-Major_Problems, .bq-campaign .bq-fields-container .bq-field-radio-items .bq-Some_Problems {
	width:130px;
	height:120px;
	position:relative;
	margin-right:0;
	margin-left:10px
}
.bq-campaign.bq-step8 .bq-fields-container .bq-field-radio-items .bq-item-0 .bq-img {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -518px -908px no-repeat;
	width:62px;
	height:61px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-31px;
	bottom:8px
}
.bq-campaign.bq-step8 .bq-fields-container .bq-error .bq-img-Yes, .bq-campaign.bq-step8 .bq-fields-container .bq-field-radio-items .bq-item-0 .bq-active, .bq-campaign.bq-step8 .bq-fields-container .bq-field-radio-items .bq-item-0:hover .bq-img {
	background:url(https://cds.bestquotes.com/images/a/all2.png) no-repeat;
	background-position:-518px -979px!important
}
.bq-campaign.bq-step8 .bq-fields-container .bq-field-radio-items .bq-item-1 .bq-img {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -617px -908px no-repeat;
	width:62px;
	height:61px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-31px;
	bottom:8px
}
.bq-campaign .bq-footnote-desc, .bq-campaign.bq-step1 .bq-save-box .bq-save-box-right .bq-all-rates, .bq-campaign.bq-step16 .bq-main-section .bq-caption-container .bq-caption-banner, .bq-campaign.bq-step16 .bq-main-section .bq-caption-container .bq-caption-title .bq-caption-icon, .bq-campaign.bq-step16 .bq-main-section .bq-listing-footer, .bq-campaign.bq-step16 .bq-main-section .bq-table-body .bq-col-2, .bq-campaign.bq-step17 .bq-fields-section .bq-controls, .bq-campaign.bq-step17 .bq-main-section .bq-caption-container .bq-caption-banner, .bq-campaign.bq-step17 .bq-main-section .bq-caption-container .bq-caption-title .bq-caption-icon, .bq-campaign.bq-step17 .bq-main-section .bq-listing-footer, .bq-campaign.bq-step17 .bq-main-section .bq-table-body .bq-col-2, .bq-campaignbq-step13 .bq-name-PhoneNumber .bq-mark {
	display:none
}
.bq-campaign.bq-step8 .bq-fields-container .bq-error .bq-img-No, .bq-campaign.bq-step8 .bq-fields-container .bq-field-radio-items .bq-item-1 .bq-active, .bq-campaign.bq-step8 .bq-fields-container .bq-field-radio-items .bq-item-1:hover .bq-img {
	background-position:-617px -979px!important
}
.bq-campaign.bq-step16 .bq-name-ZipCode .bq-edit-button {
	background:0 0;
	border:none;
	color:#009795;
	font-size:11px;
	font-weight:700;
	position:absolute;
	text-decoration:underline;
	top:40px
}
.bq-campaignbq-step13 .bq-callToActionZip-body {
	position:relative
}
.bq-campaignbq-step13 .bq-fields-section .bq-controls .bq-control-container {
	overflow:visible
}
#bq-popup-container .bq-lexington-popup .bq-popup-main .bq-lexington-popup, #bq-popup-container .bq-popup-main .bq-MortgageBalance-popup, .bq-campaign .bq-upsell {
	overflow:hidden
}
.bq-campaignbq-step13 .bq-main-section .bq-caption-container .bq-caption-title .bq-caption-icon {
	background:url(https://cds.bestquotes.com/images/a/all2.png) -180px -251px no-repeat
}
.bq-campaign.bq-step17 .bq-main-section .bq-caption-container .bq-caption-subtitle, .bq-campaign.bq-step17 .bq-main-section .bq-caption-container .bq-caption-title, .bq-campaign.bq-step19 .bq-main-section .bq-caption-container .bq-caption-subtitle, .bq-campaign.bq-step19 .bq-main-section .bq-caption-container .bq-caption-title {
	margin:0;
	text-align:center
}
.bq-campaign.bq-step121 .bq-wrapper, .bq-campaign.bq-step17 .bq-wrapper {
	margin-top:0
}
.bq-campaign.bq-step1 .bq-footnote-desc {
	display:block;
	position:relative;
	top:-10px
}
.bq-campaign.bq-step1 .bq-footnote-desc a {
	font-weight:700;
	font-size:12px
}
.bq-campaign.bq-step1 .bq-footnote-desc a:hover {
	text-decoration:none
}
.bq-campaign .bq-sidebar .bq-sidebar-items .bq-sidebar-longname {
	top:0
}
.bq-campaign .bq-sidebar .bq-sidebar-items .bq-text {
	display:block;
	width:185px
}
.ie .bq-campaign.bq-step1 .bq-save-box .bq-counter {
	margin-top:25px
}
.bq-campaign .bq-errors .bq-errors-container .bq-error-Bbatton {
	font-weight:700;
	text-decoration:underline;
	cursor:pointer
}
.bq-campaign .bq-upsell-container {
	padding-top:15px;
	margin:0 45px
}
.bq-campaign.bq-step-submit .bq-upsell-container {
	clear:both;
	padding:0
}
.bq-campaign .bq-upsell-container b {
	font-weight:700
}
.bq-campaign .bq-upsell {
	margin:20px auto;
	border-radius:10px
}
.bq-campaign .bq-upsell label {
	position:relative;
	background:#ededed;
	font-size:12px;
	display:block;
	min-height:60px;
	padding:0 35px 0 65px
}
.bq-campaign.bq-step-submit .bq-upsell label {
	padding:0 10px 0 65px
}
.bq-campaign .bq-upsell label .bq-label {
	font-weight:400;
	font-size:13px;
	padding-top:20px;
	display:block;
	width:auto
}
.bq-campaign.bq-step-submit .bq-upsell label .bq-label {
	font-size:12px
}
.bq-campaign .bq-upsell label input {
	width:15px;
	height:15px!important;
	margin:0;
	padding:0!important;
	position:absolute;
	top:20px;
	left:42px
}
.bq-campaign .bq-upsell .bq-icon {
	display:block;
	width:26px;
	height:26px;
	position:absolute;
	top:15px;
	left:10px;
	background:url(https://cds.bestquotes.com/images/upsell-icons.png) no-repeat
}
.bq-campaign .bq-upsell .bq-icon.auto {
	background-position:-2px -2px
}
.bq-campaign .bq-upsell .bq-icon.automotive {
	background-position:-1px -271px
}
.bq-campaign .bq-upsell .bq-icon.health {
	background-position:-32px -2px
}
.bq-campaign .bq-upsell .bq-icon.life {
	background-position:-92px -1px
}
.bq-campaign .bq-upsell .bq-icon.pet, .bq-campaign .bq-upsell .bq-icon.petfullquote {
	background-position:-242px -2px
}
.bq-campaign .bq-upsell .bq-icon.home {
	background-position:-62px -3px
}
.bq-campaign .bq-upsell .bq-icon.homesecurity {
	background-position:-122px -3px
}
.bq-campaign .bq-upsell .bq-icon.medicalalerts, .bq-campaign .bq-upsell .bq-icon.usmedicalalerts {
	background-position:-152px -4px
}
.bq-campaign .bq-upsell .bq-icon.mortgage {
	background-position:-182px -3px
}
.bq-campaign .bq-upsell .bq-icon.solar {
	background-position:-213px -4px
}
.bq-campaign .bq-upsell .bq-icon.windows {
	background-position:-331px -4px
}
.bq-campaign .bq-upsell .bq-icon.roofing {
	background-position:-301px -4px
}
.bq-campaign .bq-upsell .bq-icon.hvac {
	background-position:-361px -4px
}
.bq-campaign .bq-upsell.bq-vertical-optText input, .bq-campaign .bq-upsell.bq-vertical-optText ins, .bq-campaign .bq-upsell.bq-vertical-upsellText input, .bq-campaign .bq-upsell.bq-vertical-upsellText ins {
	display:none
}
.bq-campaign .bq-upsell.bq-vertical-optText .bq-label, .bq-campaign .bq-upsell.bq-vertical-upsellText .bq-label {
	margin:0 auto;
	text-align:center;
	font-size:16px
}
.bq-campaign .bq-upsell.bq-vertical-optText, .bq-campaign .bq-upsell.bq-vertical-upsellText {
	background-color:inherit;
	padding:0;
	margin-bottom:-28px;
	margin-top:-15px
}
.bq-campaign .bq-upsell.bq-vertical-upsellText {
	margin-top:-12px
}
.bq-campaign .bq-upsell.bq-vertical-optText label, .bq-campaign .bq-upsell.bq-vertical-upsellText label {
	background-color:inherit;
	padding:0
}
.bq-campaign.bq-step2 .bq-fields-container .bq-name-ZipCode .bq-label, .bq-campaign.bq-step3 .bq-fields-container .bq-name-ZipCode .bq-label {
	display:block;
	text-align:center
}
.bq-campaign.bq-step16 .bq-fields-section .bq-controls {
	display:block
}
.bq-campaign.bq-step16 .bq-control {
	display:block;
	margin:0 auto 10px;
	float:none
}
.bq-campaign.bq-step16 .bq-fields-section {
	padding-bottom:0
}
.bq-campaign.bq-step16 .bq-main-section {
	background:#fff
}
.bq-campaign .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item, .bq-campaign .bq-name-LoanType .bq-field-radio-items .bq-radio-item {
	height:139px!important;
	width:139px!important;
	padding:0!important
}
.bq-campaign .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item.bq-active, .bq-campaign .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item:hover, .bq-campaign .bq-name-LoanType .bq-field-radio-items .bq-radio-item.bq-active, .bq-campaign .bq-name-LoanType .bq-field-radio-items .bq-radio-item:hover {
	height:131px!important;
	width:131px!important
}
.bq-campaign .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item.bq-item-0, .bq-campaign .bq-name-LoanType .bq-field-radio-items .bq-radio-item.bq-item-0 {
	margin-left:170px
}
.bq-campaign .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item, .bq-campaign .bq-name-LoanType .bq-field-radio-items .bq-radio-item {
	margin-left:16px
}
.bq-campaign .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item .bq-label, .bq-campaign .bq-name-LoanType .bq-field-radio-items .bq-radio-item .bq-label {
	display:block;
	width:100%;
	height:100%;
	line-height:36px;
	text-align:center;
	max-width:none
}
.bq-campaign .bq-fields-container .bq-name-LoanType .bq-field-radio-items .bq-radio-item .bq-img {
	background:url(https://cds.bestquotes.com/images/a/all-mortgage-questions.png) no-repeat
}
.bq-campaign .bq-fields-container .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item .bq-img {
	background:url(https://cds.bestquotes.com/images/a/all-loan-type.png) no-repeat
}
.bq-campaign .bq-fields-container .bq-name-LoanType .bq-field-radio-items .bq-radio-item.bq-item-0 .bq-img {
	background-position:1px 4px;
	width:123px;
	height:80px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-61px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-LoanType .bq-field-radio-items .bq-radio-item.bq-item-1 .bq-img {
	background-position:-121px 4px;
	width:123px;
	height:80px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-61px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-LoanType .bq-field-radio-items .bq-radio-item.bq-item-2 .bq-img {
	background-position:-243px 4px;
	width:123px;
	height:80px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-61px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-LoanType .bq-field-radio-items .bq-radio-item.bq-item-3 .bq-img {
	background-position:-365px 4px;
	width:123px;
	height:80px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-61px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item.bq-item-0 .bq-img {
	background-position:-1px 4px;
	width:107px;
	height:80px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-53px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item.bq-item-1 .bq-img {
	background-position:-110px 4px;
	width:97px;
	height:80px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-48px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item.bq-item-2 .bq-img {
	background-position:-210px 4px;
	width:97px;
	height:80px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-47px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-CurrentLoanType .bq-field-radio-items .bq-radio-item.bq-item-3 .bq-img {
	background-position:-306px 4px;
	width:80px;
	height:80px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-38px;
	bottom:8px
}
.bq-campaign .bq-name-AnyMortgages .bq-field-radio-items .bq-radio-item, .bq-campaign .bq-name-MilitaryOrVeteran .bq-field-radio-items .bq-radio-item {
	height:138px!important;
	width:128px!important;
	padding:0!important
}
.bq-campaign .bq-name-AnyMortgages .bq-field-radio-items .bq-radio-item.bq-active, .bq-campaign .bq-name-AnyMortgages .bq-field-radio-items .bq-radio-item:hover, .bq-campaign .bq-name-MilitaryOrVeteran .bq-field-radio-items .bq-radio-item.bq-active, .bq-campaign .bq-name-MilitaryOrVeteran .bq-field-radio-items .bq-radio-item:hover {
	height:130px!important;
	width:120px!important
}
.bq-campaign .bq-name-AnyMortgages .bq-field-radio-items .bq-radio-item.bq-item-0, .bq-campaign .bq-name-MilitaryOrVeteran .bq-field-radio-items .bq-radio-item.bq-item-0 {
	margin-left:336px
}
.bq-campaign .bq-name-AnyMortgages .bq-field-radio-items .bq-radio-item, .bq-campaign .bq-name-MilitaryOrVeteran .bq-field-radio-items .bq-radio-item {
	margin-left:18px
}
.bq-campaign .bq-name-AnyMortgages .bq-field-radio-items .bq-radio-item .bq-label, .bq-campaign .bq-name-MilitaryOrVeteran .bq-field-radio-items .bq-radio-item .bq-label {
	display:block;
	width:100%;
	height:100%;
	line-height:36px;
	text-align:center;
	max-width:none
}
.bq-campaign .bq-fields-container .bq-name-AnyMortgages .bq-field-radio-items .bq-radio-item .bq-img {
	background:url(https://cds.bestquotes.com/images/a/all-mortgage-questions.png) no-repeat;
	width:123px;
	height:80px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-61px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-AnyMortgages .bq-field-radio-items .bq-item-0 .bq-img {
	background-position:-487px 4px
}
.bq-campaign .bq-fields-container .bq-name-AnyMortgages .bq-field-radio-items .bq-item-1 .bq-img {
	background-position:-610px 4px
}
.bq-campaign .bq-fields-container .bq-name-MilitaryOrVeteran .bq-field-radio-items .bq-radio-item .bq-img {
	background:url(https://cds.bestquotes.com/images/a/all-mortgage-questions.png) no-repeat;
	width:47px;
	height:89px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-23px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-MilitaryOrVeteran .bq-field-radio-items .bq-item-0 .bq-img {
	background-position:-736px -1px
}
.bq-campaign .bq-fields-container .bq-name-MilitaryOrVeteran .bq-field-radio-items .bq-item-1 .bq-img {
	background-position:-783px -1px
}
.bq-campaign.bq-step-upsellPage .bq-type-control .bq-control {
	display:inline
}
.bq-campaign .bq-type-control .bq-type-skipUpsell {
	margin-right:16px;
	background:linear-gradient(to bottom, #DBDBDB 0, #C5C5C5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#DBDBDB', endColorstr='#C5C5C5', GradientType=0)
}
.bq-campaign .bq-type-control .bq-type-skipUpsell:hover {
	background:#C5C5C5;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C5C5C5', endColorstr='#C5C5C5', GradientType=0)
}
.bq-campaign .bq-control-container {
	text-align:center
}
.bq-campaign .bq-type-control {
	text-align:center;
	margin:23px auto 0
}
.bq-campaign.bq-step18 .bq-main-section .bq-caption-container .bq-caption-subtitle, .bq-campaign.bq-step19 .bq-main-section .bq-caption-container .bq-caption-subtitle, .bq-campaign.bq-step20 .bq-main-section .bq-caption-container .bq-caption-subtitle {
	padding-bottom:20px
}
.bq-campaign.bq-step20 .bq-main-section .bq-caption-container .bq-caption-subtitle {
	padding-top:38px;
	padding-bottom:20px
}
.bq-campaign.bq-step3 .bq-fields-container .bq-field-radio-items {
	width:614px
}
.bq-campaign.bq-step4 .bq-fields-container .bq-field-radio-items {
	width:570px
}
.bq-campaign.bq-step4 .bq-fields-container .bq-type-select label {
	width:290px
}
.bq-campaign.bq-step5 .bq-fields-container .bq-type-select label {
	width:460px
}
.bq-campaign.bq-step8 .bq-fields-container .bq-type-select label {
	width:470px
}
.bq-campaign .bq-fields-container .bq-type-range label, .bq-campaign .bq-fields-container .bq-type-select label {
	display:block;
	margin:0 auto;
	position:relative
}
.bq-campaign .bq-fields-container .bq-row-container {
	text-align:center
}
.bq-campaign .bq-fields-container .bq-field-composite-container .bq-field-composite-items {
	overflow:hidden;
	display:block;
	width:250px;
	margin:0 auto
}
.bq-campaign .bq-fields-container .bq-type-select.bq-name-PropertyValue .hasCustomSelect {
	left:24px
}
.bq-campaign .bq-fields-container .bq-type-select.bq-name-FirstMortgageBalance .hasCustomSelect {
	left:109px
}
.bq-campaign .bq-fields-container .bq-type-select.bq-name-CashOutAmount .hasCustomSelect {
	left:115px
}
.bq-campaign .bq-fields-container .bq-type-address, .bq-campaign .bq-fields-container .bq-type-email, .bq-campaign .bq-fields-container .bq-type-name, .bq-campaign .bq-fields-container .bq-type-phoneUS, .bq-campaign .bq-fields-container .bq-type-zipUS {
	margin-bottom:10px
}
.bq-campaign .bq-fields-container .bq-type-address .bq-label, .bq-campaign .bq-fields-container .bq-type-email .bq-label, .bq-campaign .bq-fields-container .bq-type-name .bq-label, .bq-campaign .bq-fields-container .bq-type-phoneUS .bq-label, .bq-campaign .bq-fields-container .bq-type-zipUS .bq-label {
	margin-bottom:0!important;
	font-weight:400!important
}
.bq-campaign .bq-fields-container .bq-type-address input, .bq-campaign .bq-fields-container .bq-type-email input, .bq-campaign .bq-fields-container .bq-type-name input, .bq-campaign .bq-fields-container .bq-type-phoneUS input, .bq-campaign .bq-fields-container .bq-type-zipUS input {
	width:270px;
	height:47px;
	font-size:20px;
	line-height:47px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseYear input {
	width:187px;
	height:48px;
	font-size:20px;
	line-height:47px;
	margin-top:61px;
	margin-bottom:84px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseYear .bq-label {
	display:none
}
.bq-campaign.bq-step2 .bq-fields-container .bq-type-zipUS input {
	text-align:center;
	padding-left:0
}
.bq-campaign.bq-step18 .bq-fields-container .bq-field input, .bq-campaign.bq-step19.bq-fields-container .bq-field input {
	font-style:italic
}
.bq-campaign .bq-fields-container .bq-type-address label, .bq-campaign .bq-fields-container .bq-type-email label, .bq-campaign .bq-fields-container .bq-type-name label, .bq-campaign .bq-fields-container .bq-type-phoneUS label, .bq-campaign .bq-fields-container .bq-type-zipUS label {
	display:inline-block;
	text-align:left;
	position:relative
}
.bq-campaign .bq-fields-container .bq-type-zipUS .bq-edit-button {
	bottom:20px;
	position:absolute;
	right:-57px
}
.bq-campaign .bq-fields-container .bq-field .bq-mark {
	bottom:-17px;
	font-size:13px;
	position:absolute;
	right:0
}
.bq-campaign .bq-fields-container .bq-name-composite-BirthDate .bq-label-wrapper {
	display:block;
	margin:0 auto;
	position:relative;
	width:205px
}
.bq-campaign.bq-step-submit .bq-fields-container .bq-field .bq-mark {
	bottom:-30px;
	font-size:13px;
	position:absolute;
	right:31px
}
.bq-campaign.bq-step-submit .bq-type-control .bq-control {
	width:205px;
	padding:0
}
.bq-campaign.bq-step-submit .bq-main-section .bq-table-body .bq-col-1 {
	height:550px
}
.bq-campaign.bq-step-submit .bq-disclaimer, .bq-campaign.bq-step-submit .bq-tcpa {
	display:block
}
.bq-campaign .bq-footer .page-footer .bq-footer-right.bq-callSection.bq-no-call, .bq-campaign .bq-header .bq-header-container .bq-callSection.bq-no-call, .bq-campaign .bq-listing-footer, .bq-campaign.bq-step1 .bq-save-box .bq-save-box-rightKnow .bq-span1, .bq-campaign.bq-step1 .bq-save-box .bq-save-box-rightKnow .bq-span2, .bq-listing .bq-listing-header .bq-listing-header-container .bq-callSection.bq-no-call {
	display:none
}
.bq-campaign.bq-step-submit .bq-tcpa {
	bottom:30px;
	color:#787878;
	font-size:10px;
	text-align:justify;
	width:455px;
	margin:40px auto 25px
}
.bq-campaign.bq-step-submit .bq-tcpa a {
	color:#787878;
	font-size:10px;
	margin:0
}
.bq-campaign.bq-step-submit .bq-disclaimer a {
	color:#65645f;
	text-decoration:none
}
.bq-campaign.bq-step-submit .bq-disclaimer {
	color:#65645f;
	width:700px;
	padding-bottom:25px;
	margin:0 auto
}
.bq-campaign.bq-step-listings .bq-main-section .bq-caption-container .bq-caption-title {
	top:-67px
}
.bq-campaign.bq-step5 .bq-tooltip {
	right:-20px
}
.bq-campaign.bq-step8 .bq-tooltip {
	right:-6px
}
.bq-campaign.bq-step12 .bq-tooltip {
	right:-25px
}
.bq-campaign.bq-step2 .bq-fields-section .bq-type-control {
	margin-top:51px
}
.bq-campaign.bq-step3 .bq-fields-section .bq-type-control {
	margin-top:33px
}
.bq-campaign.bq-step4 .bq-fields-section .bq-type-control {
	margin-top:47px
}
.bq-campaign.bq-step5 .bq-fields-section .bq-type-control {
	margin-top:44px
}
.bq-campaign.bq-step6 .bq-fields-section .bq-type-control {
	margin-top:14px
}
.bq-campaign.bq-step7 .bq-fields-section .bq-type-control {
	margin-top:84px
}
.bq-campaign.bq-step10 .bq-fields-section .bq-type-control, .bq-campaign.bq-step8 .bq-fields-section .bq-type-control, .bq-campaign.bq-step9 .bq-fields-section .bq-type-control {
	margin-top:99px
}
.bq-campaign.bq-step11 .bq-fields-section .bq-type-control {
	margin-top:51px
}
.bq-campaign.bq-step12 .bq-fields-section .bq-type-control {
	margin-top:99px
}
.bq-campaign.bq-step13 .bq-fields-section .bq-type-control {
	margin-top:84px
}
.bq-campaign.bq-step14 .bq-fields-section .bq-type-control {
	margin-top:99px
}
.bq-campaign.bq-step15 .bq-fields-section .bq-type-control {
	margin-top:51px
}
.bq-campaign.bq-step17 .bq-fields-section .bq-type-control {
	margin-top:121px
}
.bq-campaign.bq-step18 .bq-fields-section .bq-type-control {
	margin-top:25px
}
.bq-campaign.bq-step19 .bq-fields-section .bq-type-control {
	margin-top:37px
}
.bq-campaign.bq-step20 .bq-fields-section .bq-type-control {
	margin-top:25px
}
.bq-campaign.bq-step1 .bq-save-box .bq-save-box-rightKnow {
	background:url(https://cds.bestquotes.com/images/refinance-family.jpg) no-repeat;
	width:330px;
	height:170px;
	margin-top:50px;
	margin-bottom:-50px;
	margin-left:15px
}
.bq-campaign .bq-newprogress {
	height:28px;
	width:290px;
	margin:0 auto 5px;
	display:none
}
.bq-campaign.bq-step10 .bq-fields-container .bq-type-range label, .bq-campaign.bq-step12 .bq-fields-container .bq-type-range label, .bq-campaign.bq-step13 .bq-fields-container .bq-type-range label, .bq-campaign.bq-step14 .bq-fields-container .bq-type-range label, .bq-campaign.bq-step4 .bq-fields-container .bq-type-range label, .bq-campaign.bq-step5 .bq-fields-container .bq-type-range label, .bq-campaign.bq-step7 .bq-fields-container .bq-type-range label, .bq-campaign.bq-step8 .bq-fields-container .bq-type-range label, .bq-campaign.bq-step9 .bq-fields-container .bq-type-range label {
	width:550px
}
.bq-campaign.bq-step12 .bq-type-range .bq-tooltip {
	right:25px
}
.bq-campaign.bq-step13 .bq-type-range .bq-tooltip {
	right:37px
}
.bq-campaign .bq-fields-container .bq-type-range .bq-label {
	margin-bottom:0
}
.bq-campaign .bq-fields-container .bq-type-range .irs-slider {
	height:5px;
	width:5px;
	top:-4px;
	cursor:pointer
}
.bq-campaign .bq-fields-container .bq-type-range .irs-slider:after {
	position:absolute;
	display:block;
	content:"";
	height:24px;
	width:24px;
	border:2px solid #07a8e3;
	border-radius:14px;
	background-color:#fff;
	top:24px;
	left:-12px
}
.bq-campaign .bq-fields-container .bq-type-range .irs-single {
	width:167px;
	height:15px;
	color:#012980;
	background:0 0;
	text-align:center;
	display:block;
	margin:-30px auto 0;
	position:static;
	font-size:18px!important;
	font-weight:700
}
#bq-popup-container .bq-popup-main-c.bq-lexington-popup .bq-popup-close, .bq-campaign .bq-fields-container .bq-type-range .irs-grid-pol.small, .bq-campaign .bq-fields-container .bq-type-range .irs-grid-text {
	display:none
}
.bq-campaign .bq-fields-container .bq-type-range .irs-single.text-left {
	text-align:left!important;
	padding-left:22px
}
.bq-campaign .bq-fields-container .bq-type-range .bq-error .irs-single {
	font-size:15px!important;
	padding-top:2px!important
}
.bq-campaign .bq-fields-container .bq-type-range span.irs {
	margin-top:45px;
	margin-bottom:7px;
	cursor:pointer
}
.bq-campaign .bq-fields-container .bq-type-range .irs-line-left {
	left:0;
	width:11%
}
.bq-campaign .bq-fields-container .bq-type-range .irs-line-mid {
	left:9%;
	width:82%
}
.bq-campaign .bq-fields-container .bq-type-range .irs-line-right {
	right:0;
	width:11%
}
.bq-campaign .bq-fields-container .bq-type-range .irs-line {
	height:13px!important;
	border:2px solid #b2bbc5;
	border-radius:8px
}
.bq-campaign .bq-fields-container .bq-type-range .irs-bar-edge {
	width:2px!important
}
.bq-campaign .bq-fields-container .bq-type-range .irs-bar, .bq-campaign .bq-fields-container .bq-type-range .irs-bar-edge {
	top:24px;
	left:6px!important;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	background-color:#07a8e3;
	height:9px!important;
	margin-top:5px
}
.bq-campaign .bq-fields-container .bq-type-range .irs-grid-pol {
	background:#b2bbc5
}
#bq-popup-container .bq-popup-main-c {
	position:fixed;
	top:50%;
	left:50%;
	margin-left:-330px;
	z-index:4
}
#bq-popup-container .bq-overlay {
	position:fixed;
	background-color:#000;
	opacity:.75;
	top:0;
	left:0;
	z-index:2;
	width:100%;
	height:100%
}
#bq-popup-container .bq-popup-main-c.bq-lexington-popup .bq-popup-close.bq-popup-close-inner {
	display:block
}
#bq-popup-container .bq-lexington-popup .bq-popup-main {
	width:660px;
	height:435px;
	position:relative;
	background:url(https://cds.bestquotes.com/images/a/lexington-popup-bgD.png) 386px 178px no-repeat #FFF;
	text-align:left;
	padding-left:20px;
	color:#525252;
	font-family:Arial;
	border-radius:10px
}
#bq-popup-container .bq-lexington-popup .bq-popup-main .bq-popup-title {
	font-size:28px;
	font-weight:700;
	margin-bottom:21px;
	margin-top:24px;
	text-align:justify
}
#bq-popup-container .bq-lexington-popup .bq-popup-main .bq-popup-subtitle {
	font-size:14px;
	margin-bottom:15px;
	margin-top:24px;
	width:600px;
	line-height:20px;
	text-align:justify
}
#bq-popup-container .bq-lexington-popup .bq-popup-main .bq-popup-subtitle span {
	color:#23a66f;
	font-weight:700;
	text-align:justify
}
#bq-popup-container .bq-lexington-popup .bq-popup-main .bq-popup-buttonL {
	display:block;
	color:#fff;
	text-align:center;
	text-decoration:none;
	line-height:50px;
	font-weight:700;
	border-radius:3px;
	width:305px;
	height:50px;
	background:linear-gradient(to bottom, #ffaa16 0, #ff7c10 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffaa16', endColorstr='#ff7c10', GradientType=0);
	margin-top:38px
}
#bq-popup-container .bq-lexington-popup .bq-popup-main .bq-popup-mark {
	font-size:12px;
	display:block;
	margin-top:7px;
	text-align:justify
}
#bq-popup-container .bq-lexington-popup .bq-popup-main .bq-popup-note {
	margin-top:37px;
	width:305px;
	font-size:14px;
	line-height:19px;
	text-align:justify
}
#bq-popup-container .bq-lexington-popup .bq-popup-main .bq-popup-close.bq-popup-close-inner {
	font-size:14px;
	margin-top:29px;
	text-align:justify;
	text-decoration:underline;
	cursor:pointer
}
#bq-popup-container .bq-MortgageBalance-popup .bq-popup-main .bq-popup-right {
	width:300px;
	float:right;
	margin-right:20px
}
#bq-popup-container .bq-MortgageBalance-popup .bq-popup-main {
	width:660px;
	height:435px;
	position:relative;
	background:url(https://cds.bestquotes.com/images/popup/mortgage-desc.jpg) left top no-repeat #FFF;
	text-align:center;
	color:#456b79;
	font-family:Arial
}
#bq-popup-container .bq-popup-main .bq-MortgageBalance-popup .bq-popup-right {
	width:300px
}
#bq-popup-container .bq-popup-main .bq-MortgageBalance-popup .bq-popup-right .bq-popup-title {
	font-size:25px;
	line-height:30px;
	margin-bottom:17px;
	margin-top:70px;
	color:#456b79
}
#bq-popup-container .bq-popup-main .bq-MortgageBalance-popup .bq-popup-right .bq-popup-subtitle {
	font-size:14px;
	line-height:17px;
	width:auto;
	margin:0 auto 20px
}
#bq-popup-container .bq-popup-main .bq-MortgageBalance-popup .bq-popup-right p {
	font-size:18px;
	margin:17px 0;
	color:#456b79
}
#bq-popup-container .bq-popup-main .bq-MortgageBalance-popup .bq-popup-right .bq-popup-buttonC, #bq-popup-container .bq-popup-main .bq-MortgageBalance-popup .bq-popup-right .bq-popup-buttonL {
	display:block;
	color:#fff;
	font-family:Arial;
	text-align:center;
	margin:0 auto;
	text-decoration:none;
	border-radius:3px;
	font-size:16px;
	font-weight:700;
	line-height:45px
}
#bq-popup-container .bq-popup-main .bq-MortgageBalance-popup .bq-popup-right .bq-popup-buttonL {
	width:150px;
	height:45px;
	margin-top:24px;
	background:#8ab773
}
#bq-popup-container .bq-popup-main .bq-MortgageBalance-popup .bq-popup-right .bq-popup-buttonC {
	width:150px;
	height:45px;
	background:#ea9539
}
#bq-popup-container .bq-popup-main .bq-MortgageBalance-popup .bq-popup-right .bq-popup-button:hover {
	background:#00a6e3;
	color:#FFF
}
#bq-popup-container .bq-MortgageBalance-popup .bq-popup-close {
	border:none;
	position:absolute;
	top:-19px;
	right:-19px;
	width:40px;
	height:40px;
	cursor:pointer;
	padding-top:1px;
	padding-right:1px;
	background:url(https://cds.bestquotes.com/images/popup/close-popup.png) -7px -7px no-repeat;
	font-size:0
}
#bq-popup-container .bq-MortgageBalance-popup .bq-popup-close:hover {
	background-position:-7px -61px
}
.bq-step-submit .bq-control.submit-loader .bq-text {
	vertical-align:middle
}
.bq-step-submit .bq-control.bq-type-simple.submit-loader ins {
	width:42px;
	height:42px;
	display:inline-block;
	background:url(https://cds.bestquotes.com/images/small_loading2.gif);
	vertical-align:middle
}
.bq-step-submit .bq-control.bq-type-simple.submit-loader:hover ins {
	width:42px;
	height:42px;
	display:inline-block;
	background:url(https://cds.bestquotes.com/images/loader-a-green.gif);
	vertical-align:middle
}
.bq-campaign .bq-fields-container .bq-type-image {
	margin-top:65px;
	margin-bottom:20px
}
.bq-campaign.bq-step19 .bq-fields-container .bq-type-image {
	margin-top:44px
}
.bq-campaign.bq-step20 .bq-fields-container .bq-type-image {
	margin-top:52px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseTimeFrame .bq-radio-item {
	width:130px;
	height:138px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseTimeFrame .bq-radio-item.bq-active, .bq-campaign .bq-fields-container .bq-name-PurchaseTimeFrame .bq-radio-item:hover {
	width:122px;
	height:130px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseTimeFrame .bq-label {
	font-size:13px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseTimeFrame .bq-radio-item.bq-item-0 {
	margin-left:188px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseTimeFrame .bq-radio-item .bq-img {
	background:url(https://cds.bestquotes.com/images/a/all-mortgage-questions.png) no-repeat;
	width:80px;
	height:92px;
	display:block;
	position:absolute;
	left:50%;
	margin-left:-41px;
	bottom:8px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseTimeFrame .bq-radio-item.bq-item-0 .bq-img {
	background-position:0 -77px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseTimeFrame .bq-radio-item.bq-item-1 .bq-img {
	background-position:-80px -77px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseTimeFrame .bq-radio-item.bq-item-2 .bq-img {
	background-position:-160px -77px
}
.bq-campaign .bq-fields-container .bq-name-PurchaseTimeFrame .bq-radio-item.bq-item-3 .bq-img {
	background-position:-240px -77px
}
.bq-campaign.bq-step19 .bq-caption-container .bq-caption-subtitle2 {
	color:#494949;
	display:block;
	font-size:13px;
	text-align:center;
	margin-top:-20px;
	margin-bottom:15px;
	font-weight:400
}